<aside id="sidebar" class="sidebar" th:fragment="sidebar">

    <h2 class="logo">Menú</h2>

    <img src="/img/logo-pc.png" class="logo-sidebar">

    <nav>

        <a href="/" class="menu-item"
           th:classappend="${paginaActiva == 'dashboard'} ? ' active'">
            <img src="/img/icono-dashboard.png" class="iconos">
             Dashboard
        </a>

        <a href="/capacitaciones" class="menu-item"
           th:classappend="${paginaActiva == 'capacitaciones'} ? ' active'">
            <img src="/img/icono-capacitaciones.png" class="iconos">
             Capacitaciones
        </a>

        <a href="/calendario" class="menu-item"
        th:classappend="${paginaActiva == 'calendario'} ? ' active'">
            <img src="/img/iconocalendario.png" class="iconos">
             Calendario
        </a>

        <a href="#" class="menu-item">
            <img src="/img/icono-historial.png" class="iconos">
             Consulta Histórica
        </a>

        <a href="/instructores" class="menu-item"
            th:classappend="${paginaActiva == 'instructores'} ? ' active'">
            <img src="/img/iconousuario.png" class="iconos">
             Instructores
        </a>

    </nav>

</aside>