<aside id="sidebar" class="sidebar" th:fragment="sidebar">

    <h2 class="logo">Menú</h2>

    <img src="/img/logo-pc.png" class="logo-sidebar">

    <nav>

        <a href="/" class="menu-item"
           th:classappend="${paginaActiva == 'dashboard'} ? ' active'">
            <i class="ti ti-chart-bar"></i>
             Dashboard
        </a>

        <a href="/capacitaciones" class="menu-item"
           th:classappend="${paginaActiva == 'capacitaciones'} ? ' active'">
             <i class="ti ti-file-plus"></i>
             Nueva Actividad
        </a>

        <a href="/calendario" class="menu-item"
        th:classappend="${paginaActiva == 'calendario'} ? ' active'">
             <i class="ti ti-calendar"></i>
             Calendario
        </a>

        <a href="/consulta-historica" class="menu-item"
         th:classappend="${paginaActiva == 'consultaHistorica'} ? ' active'">
             <i class="ti ti-file-search"></i>
             Consulta Histórica
        </a>

        <a href="/instructores" class="menu-item"
            th:classappend="${paginaActiva == 'instructores'} ? ' active'">
             <i class="ti ti-user"></i>
             Instructores
        </a>

        <a href="/catalogos" class="menu-item"
            th:classappend="${paginaActiva == 'catalogos'} ? ' active'">
            <i class="ti ti-book"></i>
             Catálogos
        </a>

    </nav>

</aside>