<aside id="sidebar" class="sidebar" th:fragment="sidebar">

    <h2 class="logo">Menú</h2>

    <img src="/img/logo-pc.png" class="logo-sidebar">

    <nav>

        <a href="/" class="menu-item"
           th:classappend="${paginaActiva == 'dashboard'} ? ' active'">
            
            📈 Dashboard
        </a>

        <a href="/capacitaciones" class="menu-item"
           th:classappend="${paginaActiva == 'capacitaciones'} ? ' active'">
        
            📝 Nueva Actividad
        </a>

        <a href="/calendario" class="menu-item"
        th:classappend="${paginaActiva == 'calendario'} ? ' active'">
            
            📆 Calendario
        </a>

        <a href="/consulta-historica" class="menu-item"
         th:classappend="${paginaActiva == 'consultaHistorica'} ? ' active'">
            
            📜 Consulta Histórica
        </a>

        <a href="/instructores" class="menu-item"
            th:classappend="${paginaActiva == 'instructores'} ? ' active'">
            
            🧑‍🚒 Instructores
        </a>

        <a href="/catalogos" class="menu-item"
            th:classappend="${paginaActiva == 'catalogos'} ? ' active'">
            
            📕 Catálogos
        </a>

    </nav>

</aside>