:root {
    --pc-rojo: #8d0000e1;
    --pc-rojo-oscuro: #020000;
    --pc-dorado: #D4A017;
    --pc-dorado-oscuro: #c7b274f2;
    --pc-dorado-suave: #a99a6c;
    --pc-fondo: #F4F6F8;
    --pc-panel: #FFFFFF;
    --pc-texto: #1F2933;
    --pc-texto-suave: #6B7280;
    --pc-borde: #E5E7EB;

    --pc-escuela: #FACC15;
    --pc-gobierno: #2563EB;
    --pc-empresa: #16A34A;
    --pc-unidad: #9333EA;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

.container{
    display:flex;
    height:100vh;
}

.sidebar{
    width:250px;
    background: linear-gradient(180deg, var(--pc-rojo), var(--pc-rojo-oscuro));
    color:white;
    padding:20px;
}

.sidebar h2{
    margin-bottom:30px;
    font-size:20px
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    margin-bottom:15px;
}

.sidebar a{
    color:white;
    text-decoration:none;
}

.contenido{
    flex:1;
    padding:30px;
}

.logo{
    text-align:center;
    margin-bottom:30px;
}

.menu-item{
    display:flex;
    align-items:center;
    gap:10px;
    padding:12px 15px;
    margin-bottom:10px;
    color:white;
    text-decoration:none;
    border-radius:8px;
    transition:all .3s ease;
}

.menu-item:hover{
    background:rgba(255,255,255,.15);
    transform:translateX(5px);
}

.menu-item:active{
    transform:translateX(2px);
}

.logo-sidebar{
    width:210px;
    display:block;
    margin:20px auto;
}

.iconos{
    width:30px;
    height:30px;
    object-fit:contain;
    flex-shrink:0;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 260px;
    min-height: 100vh;
    transition: transform 0.3s ease, width 0.3s ease;
}

.main-content {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.btn-sidebar {
    border: none;
    background: var(--pc-dorado-oscuro);
    color: white;
    font-size: 24px;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn-sidebar:hover{
    background: var(--pc-dorado-suave);
}

body.sidebar-hidden .sidebar {
    width: 0;
    overflow: hidden;
}

 

