<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Dashboard</title>

    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

<div class="container">

    <aside th:replace="~{fragments/sidebar :: sidebar}"></aside>

    <main class="contenido">

         <button id="btnSidebar" class="btn-sidebar" type="button">
            ☰
        </button>

        <h1>Dashboard</h1>

        <p>Bienvenido al sistema.</p>

    </main>

</div>

<script src="../js/sidebar.js"></script>
</body>
</html>